@use 'config/reset';
@use 'config/variaveis';
@use 'header';
@use 'section';

body{
    background-color: variaveis.$backgroundColor;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}